body {
  margin: 1;
  padding: 0;

}



#grid-container {
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  width: 1px;
  border: 1px solid black;
  padding: 15px; 
}

.restart {
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}

.refresh {
  height: 120px !important;
  width: 120px !important;
  background-color: #bbb !important;
  border-radius: 50% !important;
  display: inline-block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  margin: 10px !important;
}

